/* src/styles/returning-methods.scss */
ul {
    padding-left: 0;
}

li {
    display: block;
    list-style: none;

    + li {
        margin-top: 10px;
    }
}

a {
    display: inline-block;
    background: rgb(235, 50, 50);
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}