.container {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
    font-family: 'Avenir', Helvetica, sans-serif;
}

.col {
    width: 33%;
    height: 100%;
    float: left;
}

input {
    padding: 10px 6px;
    margin: 20px 10px 10px 0
}