/* src/styles/module.scss */
h1,
h2 {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    text-align: center;
}
.title {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    color: #2c3350;
    margin-top: 60px;
}
.subtitle {
    color: #4fc08d;
    font-style: italic;
}